@font-face {
    font-family: 'SouthbacnkLT';
    src: url('SouthbankLT.otf');
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'SouthbacnkLT';
    user-select: none;
}

body {
    margin: 0;
    background: #000;
    overflow: hidden;
}

.backBox {
    transition: 0.3s ease; 
    height: 100vh;
    width: 200vw;
    display: flex;
    right: 0;
    z-index: -1;
    position: absolute;
}
.backContainer {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}
.moveSensor {
    width: 7%;
    height: 100vh;
    position: absolute;
    background: transparent;
    transition: 0.2s;
    top: 0;
    opacity: 0;
    border-radius: 0px 30px 30px 0;
}
.right {
    position: absolute;
    right: 0;
    border-radius: 30px 0px 0px 30px;
}
.moveSensor:hover {
    opacity: 1;
    background: rgba(190, 190, 190, 0.2);
    backdrop-filter: blur(4px);
}
.moved {
    transform: translateX(100vw);
}
.none {
    display: none;
}
.tutorial {
    position: absolute;
    z-index: 10;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid white;
    backdrop-filter: blur(4px);
    left: 20px;
    top: 20px;
    font-size: 30px;
    transition: 0.2s;
    color: white;
}
.hidden {
    transform: translateY(-200%);
}
.flashed {
    animation: 2s ease 1 flash;
}
.flash-battery {
    width: 200px;
    height: 60px;
    border: 2px solid white;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    overflow: hidden;
}
#count_flash {
    font-size: 60px;
    color: grey;
    position: absolute;
    right: 20px;
    bottom: 6px;
}
#count_flash::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('images/flashlight.png');
    background-size: cover;
    left: -60px;
    bottom: -3.5px;
}
.bar {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    transition: 0.1s;
}
.battery_counting {
    animation: 5s linear 1 counting;
}

.time {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 30
}
.end {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    color: white;
    font-size: 60px;
    opacity: 0;
    z-index: -10;
}
.timeEnd {
    overflow: hidden;
    width: 40px;
    height: 60px;
}
#box {
    transition: 2s ease;
    display: flex;
    flex-direction: column;
}
.endofnight {
    transform: translateY(-51%);
}
.get {
    opacity: 1;
    z-index: 40;
}
.start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 60px;
    z-index: 40;
}
.out {
    opacity: 0;
    z-index: -10;
}
.start-btn {
    position: absolute;
    bottom: 40px;
    right: 40px;
    border: 2px solid white;
    padding: 10px;
    font-size: 40px;
    border-radius: 10px;
    cursor: pointer;
}
.start-btn:hover {
    color: black;
    background: white;
}
.cameraSensor {
    position: absolute;
    top: 100px;
    right: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    width: 60px;
    height: 400px;
    border-radius: 20px;
    background-image: url('images/camera.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    transition: 0.1s;
    z-index: 25;
    cursor: pointer;
}
.cameraSensor:hover {
    transform: scale(1.1);
}
.camera {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 1000px rgb(0, 0, 0);
    transition: 0.4s;
    background: url('images/camera_decor.png') center left / 50% no-repeat, url('images/k3.jpg') center / cover no-repeat, url('images/no signal.jpg') center / cover;
}
.camera-close {
    transform: translateX(100%);
}
.cameraSensorOut {
    transform: translateX(200%);
}
.cameras-map {
    position: absolute;
    top: 200px;
    right: 100px;
    width: 30vw;
    height: 30vw;
    background-image: url('images/map.png');
    background-size: auto 90%;
    background-position: center;
    background-repeat: no-repeat;
}
.ventilation {
    width: 350px;
    height: 250px;
    background-image: url('images/ventilation default.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    top: 15vh;
    overflow: hidden;
}
.vent-door {
    width: 100%;
    height: 100%;
    background-image: url('images/vent-door.jpg');
    background-size: cover;
    transition: 2s;
}
.vent-open {
    transform: translateY(-100%);
}
.oxygen {
    width: 200px;
    height: 60px;
    border: 2px solid white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.oxygen::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('images/oxygen.png');
    background-size: cover;
    left: 60px;
    bottom: 3.5px;
}
.camera-btn {
    width: 90px;
    height: 50px;
    background: rgb(139, 139, 139);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    border: 3px solid grey;
    transition: 0.3s;
}
.activated-camera {
    background: rgba(255, 255, 255, 1);
    color: black;
}
#k1 {
    top: 3%;
    left: 7%;
}
#k2 {
    top: 26%;
    left: 38%;
}
#k3 {
    top: 12%;
    left: 63%;
}
#k4 {
    top: 52%;
    left: 23%;
}
#k5 {
    top: 70%;
    left: 10%;
}
#k6 {
    top: 67%;
    left: 78%;
}
.wednesday_box {
    width: 270px;
    height: 430px;
    overflow: hidden;
}
#left_f {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wednesday {
    width: 100%;
    height: 100%;
    background-image: url('images/wednesday.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
}
.wednesday_run {
    transform: scale(0.5);
    opacity: 0;
}
.dead_soul {
    width: 700px;
    height: 700px;
    background-image: url('images/dead_soul.png');
    background-size: auto 100%;
    background-position: center;
    position: absolute;
    transition: 0.2s;
    bottom: 0;
}
.dead_soul-run {
    opacity: 0;
    transform: translateY(100%);
}
.scream-wednesday {
    width: 1500px;
    height: 1200px;
    background-image: url('images/wednesday.png');
    background-position: top left;
    background-size: 100% auto;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: calc(50% - 750px);
    transition: 0.2s;
    z-index: 60;
}
.over-menu-flash {
    width: 100vw;
    height: 100vh;
    transition: 3s;
    background: white;
    opacity: 0;
    transition: 3s;
    z-index: 85;
}
.flash-out {
    opacity: 1;
}
.over-menu {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 80;
    background: red;
    background: url('images/over.png') center / cover;
}
.hint {
    position: absolute;
    bottom: 20px;
    width: 100vw;
    text-align: center;
    font-size: 40px;
    color: white;
}
.scream-thing {
    width: 1200px;
    height: 1200px;
    background: url('images/scream_thing.png') center / cover;
    transition: 0.4s linear;
    position: absolute;
    transform: scale(1);
}
.hidden_thing {
    transform: scale(0);
}
.phoneguy-scream {
    transform: rotate(180deg) translateY(100px);
    width: 200px;
    height: 200px;
    background: url('images/phoneguy.png') center / auto 100% no-repeat;
    transition: 0.3s;
}
.fade-out {
    opacity: 0;
}

@keyframes flash {
    0% {
        background-image: url('images/left.jpg');
    }
}
@keyframes counting {
    0% {
        width: 0%;
        background: grey;
    }
}